body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
    padding: 50px 0;
}


.container {
    width: 80%;
    margin: 0 auto;

}
.top {
    justify-content: space-between;
    display: flex;
}

.top a{
    color: var(--system-gray-01-light, #8E8E93);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}
.top a:hover {
border-bottom: 1px solid black;
}

h2{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 140% */
margin-bottom: 35px;
}
.wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card {
    border-radius: 16px;
border: 1.5px solid #E6E6E6;
background: #FFF;
width:100%;
max-width: 300px;

}
.box {
    padding: 15px 20px;
}

h3{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 140% */
margin-bottom: 50px;
}
.price {
    display: flex;
    justify-content:space-between ;
    align-items: end;
    flex-wrap: wrap;
}
.name {
    justify-content: space-between;
    display: flex;
    gap: 8px;
    align-items: center;
}
.name p{
    color: var(--system-gray-01-light, #8E8E93);
white-space: nowrap;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */

}
.icon {
}
.card-img{
    width: 100%;
    transition: 0.3s;


}

.bid p{
    color: var(--system-gray-01-light, #8E8E93);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
padding-bottom: 4px;
}
.bid{
    text-align: right;
}
