* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100dvh;
  background-color: gray;
}

h1 {
  animation: blink 2s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .flip_card {
    width: 250px;
    height: 250px;
    cursor: pointer;
    perspective: 1000px;

    &:hover {
      .flip_card_inner {
        transform: rotateY(180deg);
      }
    }

    .flip_card_inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      transform-style: preserve-3d;
      border-radius: 20px;
      border: 1px solid black;

      .front,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .back {
        background-color: black;
        transform: rotateY(180deg);
        border-radius: 20px;

        h3 {
          color: orange;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}
