*{
    margin: 0;
    padding: 0;
}  


.img_alakro{
    width: 300px;
  
}

.cards-alakro{
font-family: 'Times New Roman', Times, serif;

}



.container-opuj{
    max-width: 100%;
    margin: 100px;
}


.card-alakro{

    max-width: 1100px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;

    justify-content: center;
    gap: 20px;
    -webkit-box-shadow: -2px 29px 31px -4px rgba(34, 60, 80, 0.06);
-moz-box-shadow: -2px 29px 31px -4px rgba(34, 60, 80, 0.06);
box-shadow: -2px 29px 31px -4px rgba(34, 60, 80, 0.06);
}
.img_alakro-beidou{
    width: 370px;
}


.img_alakro-fishl{
    width: 170px;  
}


.img_alakro-kuki{
    width: 240px; 
}


.container{
    width: 100%;
    background: rgb(117,112,191);
background: linear-gradient(90deg, rgba(117,112,191,1) 0%, rgba(108,108,237,1) 49%, rgba(142,125,201,1) 100%);
}


.text-alakro{
    display: flex;
    justify-content: center;
    color: purple;
    img{
        width: 50px;
    }
}


.img_opuj-fishl{
    width: 200px;
}

.img_opuj-beidou{
    width: 200px;
}

.img_opuj{
width: 200px;
}
.img_opuj-kuki{
    width: 190px;
}


.img_alakro-ray{
    width: 320px;
}


.text-crio{
    display: flex;
    justify-content: center;
    color: rgb(69, 108, 194);
    img{
        width: 50px;
    }   
}


.ayaka{
    width: 300px;
}

.ganyu{
    width: 300px;
}



.container-crio{
    max-width: 1100px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    flex-wrap: wrap;
display: flex;
justify-content: space-between;
gap: 60px;

}


.shun{
    width: 300px;
    margin-top: 20px;
}


.container-crio{

    width: 1100px;
    padding: 0 15;
    flex-wrap: wrap;
    background: rgb(210,226,255);
    width: 100%;
background: linear-gradient(90deg, rgba(210,226,255,1) 0%, rgba(200,233,255,1) 49%, rgba(187,204,255,1) 100%);
}


.shanhe{
    width: 300px;
}






.crio-img-shanhe{
    width: 200px;
}
.crio-img-shud{
    width: 200px;
}

.crio-img-gann{
width: 200px;
}



.crio-img-ayaka{
    width: 200px;
}


.kazax{

    margin-top: 80px;
   width: 300px;
}

.stranik{
    width: 300px;
}

.liuyun{
    width: 300px;

    margin-top: 50px;
}



.linet{
    width: 300px;
}

.cards-opujee{
display: flex;
justify-content:center;
gap: 20px;
flex-wrap: wrap;

div{
    max-width: 250px;
}

}



.text-anemo{
    display: flex;
    justify-content: center;

    color: rgb(12, 75, 68);
    img{
        width: 50px;
    }
}






.container-anemo{
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    flex-wrap: wrap;
    background: rgb(210,226,255);
    width: 100%;
background-color: rgba(158, 235, 233, 0.281);
width: 100%;
background: rgba(98, 200, 207, 0.507)

}
    

.cards-anema{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}



.cards-dendro{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}





.card-dendro{
    max-width: 1100px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;

    justify-content: center;
    gap: 20px;
    -webkit-box-shadow: -2px 29px 31px -4px rgba(34, 60, 80, 0.06);
-moz-box-shadow: -2px 29px 31px -4px rgba(34, 60, 80, 0.06);
box-shadow: -2px 29px 31px -4px rgba(34, 60, 80, 0.06);
}


.container-dendro{
    width: 100%;
    background: rgba(140, 189, 100, 0.507);
}

.text-dendro{
    display: flex;
    justify-content: center;
    color: rgb(4, 128, 0);
    img{
        width: 50px;
    }
}