body{

}

*{
    margin: 0;
    padding: 0;
}  


.img_alakro{
    width: 300px;
  
}

.cards-alakro{
font-family: 'Times New Roman', Times, serif;

}



.container-opuj{
    max-width: 100%;
    margin: 100px;
}


.card-alakro{
    display: flex;
    justify-content: center;
    gap: 20px;
    /* -webkit-box-shadow: -2px 29px 31px -4px rgba(34, 60, 80, 0.06);
-moz-box-shadow: -2px 29px 31px -4px rgba(34, 60, 80, 0.06);
box-shadow: -2px 29px 31px -4px rgba(34, 60, 80, 0.06); */
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.img_alakro-beidou{
    width: 370px;
}


.img_alakro-fishl{
    width: 170px;  
}


.img_alakro-kuki{
    width: 240px; 
}


.container{
    width: 100%;
    background: rgb(117,112,191);
background: linear-gradient(90deg, rgba(117,112,191,1) 0%, rgba(108,108,237,1) 49%, rgba(142,125,201,1) 100%);
}


.text-alakro{
    display: flex;
    justify-content: center;
    color: purple;
    img{
        width: 50px;
    }
}


.img_opuj-fishl{
    width: 200px;
}

.img_opuj-beidou{
    width: 200px;
}

.img_opuj{
width: 200px;
}
.img_opuj-kuki{
    width: 190px;
}


.img_alakro-ray{
    width: 320px;
}

/* crio */
.text-crio{
    display: flex;
    justify-content: center;
    color: rgb(69, 108, 194);
    img{
        width: 50px;
    }   
}


.ayaka{
    width: 400px;
}

.ganyu{
    width: 400px;
}



.container-crio{
display: flex;
justify-content: center;
gap: 30px;

}


.shun{
    width: 400px;
}


.container-crio{
    background: rgb(210,226,255);
background: linear-gradient(90deg, rgba(210,226,255,1) 0%, rgba(200,233,255,1) 49%, rgba(187,204,255,1) 100%);
}


.shanhe{
    width: 400px;
}


.cards-crio {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.card-crio {

    max-width: 300px;
    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .star-crio {
        width: 100px;
        height: 30px;
    }
}


.img_opuj-ayaka{
    width: 200px;
    margin: 10px;
    margin-left: 10px;

}


.text-anemo{
    display: flex;
    justify-content: center;

    color: rgb(69, 108, 194);
    img{
        width: 50px;
    }   
}


.kazax{
    width: 350px;
}
.can-yn{
    width: 300px;
}


.cards-anemo{
    display: flex;
    justify-content: center;
    gap: 30px;
    
    }


.cao{
    width: 250px;
}


.saharoza{
    width: 300px;
}
